<div class="text-center mb-2">
    <h1 class="text-3xl font-bold text-primary">Confirma tu cuenta</h1>
    <p>Hemos enviado un codigo a tu correo, ingresalo para confirmar tu cuenta.</p>
</div>

<form [formGroup]="confirmationForm" (ngSubmit)="confirm()" class="space-y-4">
    <div class="form-control">
        <label class="label">
            <span class="label-text">Codigo</span>
        </label>
        <input type="text" formControlName="code" name="code" class="input input-bordered w-full" required />
    </div>
    <button type="submit" class="btn btn-primary w-full mb-2">
        Confirmar
    </button>
    @if (errorMessage) {
    <p class="text-center text-red-600 text-lg">
        {{errorMessage}}
    </p>
    }
    <p class="text-start text-base-content/70 ">
        <span (click)="toLogin()" class="hover:underline hover:cursor-pointer">Regresar</span>
    </p>
</form>