<main class="flex-1 p-4 max-w-7xl mx-auto">
    <h1 class="text-xl font-bold text-center mb-6">Bienvenido al Dashboard</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
        <div class="bg-white rounded-xl shadow-lg p-5 text-center">
            <h3 class="text-sm font-semibold text-gray-600">Total de Anuncios</h3>
            <p class="text-2xl text-purple-600 font-bold">00</p>
            <p class="text-gray-500 text-xs">Vigentes y no vigentes</p>
          </div>
      
          <div class="bg-white rounded-xl shadow-lg p-5 text-center">
            <h3 class="text-sm font-semibold text-gray-600">Total de Vistas</h3>
            <p class="text-2xl text-purple-600 font-bold">00</p>
            <p class="text-gray-500 text-xs">Veces que se mostraron tus anuncios</p>
          </div>
      
          <div class="bg-white rounded-xl shadow-lg p-5 text-center">
            <h3 class="text-sm font-semibold text-gray-600">Saldo en Cartera</h3>
            <p class="text-2xl text-purple-600 font-bold">22</p>
            <p class="text-gray-500 text-xs">Saldo disponible</p>
          </div>
      
          <div class="bg-white rounded-xl shadow-lg p-5 text-center">
            <h3 class="text-sm font-semibold text-gray-600">Anuncios Vigentes</h3>
            <p class="text-2xl text-purple-600 font-bold"></p>
            <p class="text-gray-500 text-xs">Actualmente activos</p>
          </div>
    </div>

      <!-- Gráficas -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="bg-white rounded-xl shadow-lg p-5">
        <h3 class="text-base font-semibold text-gray-700 text-center">Anuncios Publicados por Mes</h3>
              <!-- GRAFICA -->

      </div>
    </div>
</main>