<div class="h-screen w-screen">
    <app-topbar (buttonClicked)="onTopbarLoginClick()"></app-topbar>
    <section class="hero min-h-[80vh]  text-white">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl md:text-6xl font-bold leading-tight animate-fade-in">
                    Bienvenido a <span class="text-purple-700">REVISTLAND</span>
                </h1>
                <p class="py-6 text-xl animate-fade-in delay-100">
                    Conéctate con lectores y escritores que comparten tus intereses. Descubre, lee y discute las mejores
                    revistas digitales en un solo lugar.
                </p>
                <button (click)="onTopbarLoginClick()" class="btn btn-primary btn-lg animate-bounce-in">
                    ¡Comienza Ahora!
                </button>
            </div>
        </div>
    </section>
</div>
<app-auth-dialog></app-auth-dialog>