<main class="flex-1 p-4">
  <h1 class="text-2xl font-bold">Bienvenido al Dashboard</h1>

  <!-- Tarjetas -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
    <div class="bg-white rounded-lg shadow p-4">
      <h3 class="text-sm font-medium text-gray-500">
        Total de revistas publicadas
      </h3>
      <p class="text-2xl text-green-500 font-bold">00</p>
      <p class="text-gray-500 text-xs">Todas las vigentes y no vigentes</p>
    </div>

    <div class="bg-white rounded-lg shadow p-4">
      <h3 class="text-sm font-medium text-gray-500">
        Anuncio con Mas apareciones
      </h3>
      <p class="text-2xl text-green-500 font-bold">00</p>
      <p class="text-gray-500 text-xs">Total de aparariciones</p>
    </div>

    <div class="bg-white rounded-lg shadow p-4">
      <h3 class="text-sm font-medium text-gray-500">
        Saldo en la Cartera Digital
      </h3>
      <p class="text-2xl text-green-500 font-bold">00</p>
      <p class="text-gray-500 text-xs">Total de la cartera</p>
    </div>

    <div class="bg-white rounded-lg shadow p-4">
      <h3 class="text-sm font-medium text-gray-500">Anuncios Vigentes</h3>
      <p class="text-2xl text-green-500 font-bold">00</p>
      <p class="text-gray-500 text-xs">Todas los vigentes</p>
    </div>
  </div>
</main>
