<div class="container mx-auto py-10 mt-[66px]">
    <h2 class="text-3xl font-semibold text-center mb-8">Mis suscripciones</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 px-4">
        @if (magazines.length > 0) {
        @for (magazine of magazines; track $index) {
        <div (click)="seeMagazineDetail(magazine.id)" class="card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow relative cursor-pointer">
            <div class="absolute top-2 right-2">
                <span class="badge badge-primary">{{magazine.category.name}}</span>
            </div>
            <figure><img [src]="categoryService.getImageCategory(magazine.category.name)" alt="Revista 1"
                    class="w-full h-48 object-cover rounded-t-xl" />
            </figure>
            <div class="card-body">
                <h2 class="card-title text-lg">{{magazine.title}}</h2>
                <p class="text-sm text-gray-600">{{magazine.description}}</p>
                <div class="flex flex-wrap gap-2 mt-2">
                    <span class="badge badge-outline badge-sm">Tech</span>
                    <span class="badge badge-outline badge-sm">Innovación</span>
                </div>
                <div class="divider m-0"></div>
                <div class="flex flex-row items-center justify-between">
                    <span>
                        <strong>Autor:</strong> {{magazine.editor.profile.firstName}}
                        {{magazine.editor.profile.lastName}}
                    </span>
                    <span class="flex flex-row gap-4">
                        <lucide-icon [name]="Heart"></lucide-icon>
                        {{magazine.likeCount}}
                    </span>
                </div>
            </div>
        </div>
        }
        }@else{
        <h2>No hay ninguna subscripcion.</h2>
        }
    </div>
</div>