<main class="flex-1 p-4 mx-6">
  <h1 class="text-2xl font-bold mb-2">Bienvenido al Dashboard</h1>

  <!-- Tarjetas -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
    <div class="bg-white rounded-lg shadow p-4">
      <h3 class="text-sm font-medium text-gray-500">Total de Anuncios publicados</h3>
      <p class="text-2xl text-purple-500 font-bold">{{totalAds.total}}</p>
      <p class="text-gray-500 text-xs">Todas las vigentes y no vigentes</p>
    </div>

    <div class="bg-white rounded-lg shadow p-4">
      <h3 class="text-sm font-medium text-gray-500">Total de vistas</h3>
      <p class="text-2xl text-purple-500 font-bold">{{totalViews}}</p>
      <p class="text-gray-500 text-xs">Total de veces que se mostraron mis anuncio</p>
    </div>

    <div class="bg-white rounded-lg shadow p-4">
      <h3 class="text-sm font-medium text-gray-500">Saldo en la Cartera Digital</h3>
      <p class="text-2xl text-purple-500 font-bold">Q{{wallet.balance}}</p>
      <p class="text-gray-500 text-xs">Total de la cartera</p>
    </div>

    <div class="bg-white rounded-lg shadow p-4">
      <h3 class="text-sm font-medium text-gray-500">Anuncios Vigentes</h3>
      <p class="text-2xl text-purple-500 font-bold">{{totalAds.totalActive}}</p>
      <p class="text-gray-500 text-xs">Todas los vigentes</p>
    </div>
  </div>

  <!-- Graficas -->

    <!--( inversion  vs vistas de anuncios ) por mes -->

    <!-- (Tiempo vs anuncios publicados) por mes -->

    <!-- grafica de PIE total de anuncios de cada tipo -->


</main>